<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 column flex layout</title>
    <style>
        .parent{
            display:flex;
            border: 1px solid red;
        }
        .right{
            margin-left:20px;
            flex:1;
            border: 1px solid orange;
        }
        .left{
            border: 1px solid green;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="left">
            <p>left left left</p>
            <p>left</p>
        </div>
        <div class="right">
            <p>right</p>
            <p>right</p>
        </div>
    </div>
</body>
</html>