<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 column flexbox</title>
    <style>
        .left-center-right{
            display:flex;
        }
        .left{
            width:300px;
            background:red;
        }
        .center{
            background:yellow;
            flex:1;
        }
        .right{
            width:300px;
            background:blue;
        }
    </style>
</head>
<body>
    <section>
        <h1>三栏布局</h1>
        <article class="left-center-right">
            <div class="left">left</div>
            <div class="center">
                <h2>flexbox解决方案</h2>
            </div>
            <div class="right">right</div>
        </article>
    </section>
</body>
</html>