<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 column by float + margin </title>
    <style>
        html,body{
            margin:0;
            height:100%;
        }
        #center{
            height:100%;
            margin:0 210px;
            background:#ffe6b8;
        }
        #left,#right{
            width:200px;
            height:100%;
            background:#a0b3d6;
        }
        #left{
            float:left;
        }
        #right{
            float:right;
        }
    </style>
</head>
<body>
   <div id="left"></div> 
   <div id="right"></div>
   <div id="center"></div>
</body>
</html>